<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.iiicestseb.backend.mapper.PaperMapper">
  <resultMap id="PaperResultMap" type="group.iiicestseb.backend.entity.Paper">
    <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="publicationTitle" column="publication_title" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="publisherId" column="publisher_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="conferenceId" column="conference_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="pdfLink" column="pdf_link" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="doi" column="DOI" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="paperTitle" column="paper_title" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="paperAbstract" column="paper_abstract" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="referenceCount" column="reference_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="citationCount" column="citation_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="publicationYear" column="publication_year" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="startPage" column="start_page" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="endPage" column="end_page" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="authorKeywords" column="author_keywords" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="documentIdentifier" column="document_identifier" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>

</mapper>