<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.iiicestseb.backend.mapper.PaperMapper">
  <resultMap id="BaseResultMap" type="group.iiicestseb.backend.entity.Paper">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="publication_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publisher_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="conference_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pdf_link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DOI" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="paper_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="paper_abstract" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reference_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="citation_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="publication_year" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="start_page" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="end_page" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="author_keywords" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="document_identifer" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, publication_title, publisher_id, conference_id, pdf_link, DOI, paper_title, paper_abstract, 
    reference_count, citation_count, publication_year, start_page, end_page, author_keywords, 
    document_identifer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="group.iiicestseb.backend.entity.Paper">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into paper (id, publication_title, publisher_id, 
      conference_id, pdf_link, DOI, 
      paper_title, paper_abstract, reference_count, 
      citation_count, publication_year, start_page, 
      end_page, author_keywords, document_identifier
      )
    values (#{id,jdbcType=INTEGER}, #{publicationTitle,jdbcType=VARCHAR}, #{publisherId,jdbcType=INTEGER}, 
      #{conferenceId,jdbcType=INTEGER}, #{pdfLink,jdbcType=VARCHAR}, #{doi,jdbcType=VARCHAR}, 
      #{paperTitle,jdbcType=VARCHAR}, #{paperAbstract,jdbcType=VARCHAR}, #{referenceCount,jdbcType=INTEGER}, 
      #{citationCount,jdbcType=INTEGER}, #{publicationYear,jdbcType=INTEGER}, #{startPage,jdbcType=INTEGER}, 
      #{endPage,jdbcType=INTEGER}, #{authorKeywords,jdbcType=VARCHAR}, #{documentIdentifer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="group.iiicestseb.backend.entity.Paper">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="publicationTitle != null">
        publication_title,
      </if>
      <if test="publisherId != null">
        publisher_id,
      </if>
      <if test="conferenceId != null">
        conference_id,
      </if>
      <if test="pdfLink != null">
        pdf_link,
      </if>
      <if test="doi != null">
        DOI,
      </if>
      <if test="paperTitle != null">
        paper_title,
      </if>
      <if test="paperAbstract != null">
        paper_abstract,
      </if>
      <if test="referenceCount != null">
        reference_count,
      </if>
      <if test="citationCount != null">
        citation_count,
      </if>
      <if test="publicationYear != null">
        publication_year,
      </if>
      <if test="startPage != null">
        start_page,
      </if>
      <if test="endPage != null">
        end_page,
      </if>
      <if test="authorKeywords != null">
        author_keywords,
      </if>
      <if test="documentIdentifer != null">
        document_identifer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="publicationTitle != null">
        #{publicationTitle,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="conferenceId != null">
        #{conferenceId,jdbcType=INTEGER},
      </if>
      <if test="pdfLink != null">
        #{pdfLink,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        #{doi,jdbcType=VARCHAR},
      </if>
      <if test="paperTitle != null">
        #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="paperAbstract != null">
        #{paperAbstract,jdbcType=VARCHAR},
      </if>
      <if test="referenceCount != null">
        #{referenceCount,jdbcType=INTEGER},
      </if>
      <if test="citationCount != null">
        #{citationCount,jdbcType=INTEGER},
      </if>
      <if test="publicationYear != null">
        #{publicationYear,jdbcType=INTEGER},
      </if>
      <if test="startPage != null">
        #{startPage,jdbcType=INTEGER},
      </if>
      <if test="endPage != null">
        #{endPage,jdbcType=INTEGER},
      </if>
      <if test="authorKeywords != null">
        #{authorKeywords,jdbcType=VARCHAR},
      </if>
      <if test="documentIdentifer != null">
        #{documentIdentifer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.iiicestseb.backend.entity.Paper">
    update paper
    <set>
      <if test="publicationTitle != null">
        publication_title = #{publicationTitle,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        publisher_id = #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="conferenceId != null">
        conference_id = #{conferenceId,jdbcType=INTEGER},
      </if>
      <if test="pdfLink != null">
        pdf_link = #{pdfLink,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        DOI = #{doi,jdbcType=VARCHAR},
      </if>
      <if test="paperTitle != null">
        paper_title = #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="paperAbstract != null">
        paper_abstract = #{paperAbstract,jdbcType=VARCHAR},
      </if>
      <if test="referenceCount != null">
        reference_count = #{referenceCount,jdbcType=INTEGER},
      </if>
      <if test="citationCount != null">
        citation_count = #{citationCount,jdbcType=INTEGER},
      </if>
      <if test="publicationYear != null">
        publication_year = #{publicationYear,jdbcType=INTEGER},
      </if>
      <if test="startPage != null">
        start_page = #{startPage,jdbcType=INTEGER},
      </if>
      <if test="endPage != null">
        end_page = #{endPage,jdbcType=INTEGER},
      </if>
      <if test="authorKeywords != null">
        author_keywords = #{authorKeywords,jdbcType=VARCHAR},
      </if>
      <if test="documentIdentifer != null">
        document_identifer = #{documentIdentifer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.iiicestseb.backend.entity.Paper">
    update paper
    set publication_title = #{publicationTitle,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      conference_id = #{conferenceId,jdbcType=INTEGER},
      pdf_link = #{pdfLink,jdbcType=VARCHAR},
      DOI = #{doi,jdbcType=VARCHAR},
      paper_title = #{paperTitle,jdbcType=VARCHAR},
      paper_abstract = #{paperAbstract,jdbcType=VARCHAR},
      reference_count = #{referenceCount,jdbcType=INTEGER},
      citation_count = #{citationCount,jdbcType=INTEGER},
      publication_year = #{publicationYear,jdbcType=INTEGER},
      start_page = #{startPage,jdbcType=INTEGER},
      end_page = #{endPage,jdbcType=INTEGER},
      author_keywords = #{authorKeywords,jdbcType=VARCHAR},
      document_identifer = #{documentIdentifer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>