<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.iiicestseb.backend.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="group.iiicestseb.backend.entity.Record">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="search_record" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="browse_record" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, search_record, browse_record
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="group.iiicestseb.backend.entity.Record">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into record (id, search_record, browse_record
      )
    values (#{id,jdbcType=INTEGER}, #{searchRecord,jdbcType=VARCHAR}, #{browseRecord,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="group.iiicestseb.backend.entity.Record">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="searchRecord != null">
        search_record,
      </if>
      <if test="browseRecord != null">
        browse_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="searchRecord != null">
        #{searchRecord,jdbcType=VARCHAR},
      </if>
      <if test="browseRecord != null">
        #{browseRecord,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.iiicestseb.backend.entity.Record">
    update record
    <set>
      <if test="searchRecord != null">
        search_record = #{searchRecord,jdbcType=VARCHAR},
      </if>
      <if test="browseRecord != null">
        browse_record = #{browseRecord,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.iiicestseb.backend.entity.Record">
    update record
    set search_record = #{searchRecord,jdbcType=VARCHAR},
      browse_record = #{browseRecord,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>